extends ../layout/commonlayout

block  content
    div(class="container content-wrapper main-mylife")  
      h2 生活
      hr
      p Enjoying my contents?
      .row
        .column
          .content
            img(src='../images/1.jpg', alt='Mountains', style='width:100%')
            h3 遊びに行く
            p
              | どこだっけ
        .column
          .content
            img(src='../images/2.jpg', alt='Ramen', style='width:100%')
            h3 昼ご飯
            p
              | いつもラーメン
        .column
          .content
            img(src='../images/3.jpg', alt='Park', style='width:100%')
            h3 舞鶴公園
            p
              | 道に迷う時偶然に行ったかな。。。
        .column
          .content
            img(src='../images/4.jpg', alt='Park', style='width:100%')
            h3 舞鶴公園
            p
              | 道に迷う時偶然に行ったかな。。。
        .column
          .content
            img(src='../images/5.jpg', alt='Gyu', style='width:100%')
            h3 牛たん
            p
              | 地図：〒812-0018 福岡県福岡市博多区住吉１丁目２−1 キャナルシティ博多ノースビルB1F
        .column
          .content
            img(src='../images/6.jpg', alt='Mountains', style='width:100%')
            h3 ラーメン
            p
              | 地図：〒810-0801 福岡県福岡市博多区中洲４丁目７−20
        .column
          .content
            img(src='../images/7.jpg', alt='Tit', style='width:100%')
            h3 Tit's
            p
              | マクセル アクアパーク品川