.container-content .entry{
    align-items: stretch;
    padding: 20px;
}

.container-content .entry .header-test{
    margin-bottom: 10px;
}

.btn-submit, .btn-reset{
    margin: 10px;
}

.overlay{
    position: fixed;
      width: 100%;
      height: 100%;
    background: rgba(255, 255, 255, 0.5);
    visibility: visible;
  }
  
  .spanner{
    position:absolute;
    top: 50%;
    left: 0;
    background: #f2f2f254;
    width: 100%;
    display:block;
    text-align:center;
    height: 300px;
    color: black;
    font-weight: bold;
    transform: translateY(-50%);
    z-index: 1000;
    visibility: visible;
  }
  
  .hide-spinner{
    visibility: hidden;
  }