extends ../../layout/commonlayout
block content
    div(class="container container-content")
        div(class="content entry")
            h2(class="title") Oops! 
            p 申し訳ありません、テストがなさそうだと思います！きるだけ早くテストを投稿しようと思います。
            a(href="/") 
                button(type="button" class="btn btn-info") Back